@mixin brand-gradient {
  background: linear-gradient(
    24.29deg,
    #007be5 -2.04%,
    #1790ea 42.15%,
    #67d9fa 145.27%
  );
}

@mixin container {
  max-width: 1360px;
  margin: 0 auto;
}

@mixin reset-btn {
  border: none;
  outline: none;
  cursor: pointer;
}

@mixin padding-var {
  --horizontal-padding: 35px;
}

@mixin font-family {
  font-family: 'Manrope', sans-serif;
}

@mixin text-title {
  font-size: 32px;
  font-weight: 800;
  line-height: 44px;
  letter-spacing: -0.03em;
  text-align: left;
  word-break: keep-all;

  color: map-get($map: $text, $key: dark-800);

  @media (min-width: map-get($map: $breakpoints, $key: sm)) {
    font-size: 45px;
    font-weight: 800;
    line-height: 65px;
    letter-spacing: -0.03em;
  }

  @media (min-width: map-get($map: $breakpoints, $key: md)) {
    font-size: 50px;
    font-weight: 800;
    line-height: 70px;
    letter-spacing: -0.03em;
  }

  @media (min-width: map-get($map: $breakpoints, $key: xl)) {
    font-size: 60px;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: -0.03em;
  }
}

@mixin text-sub-400 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: left;
  color: map-get($map: $text, $key: dark-600);

  @media (min-width: map-get($map: $breakpoints, $key: md)) {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.02em;
  }
  @media (min-width: map-get($map: $breakpoints, $key: xl)) {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.02em;
  }
}
