$colors: (
  'primary': #007be5,
  'secondary': #67d9fa,
  'highlight': #fe9376,
  'dark-800': #092128,
  'light-300': #f0f5f9,
);

$text: (
  'dark-800': #092128,
  'dark-600': #2e3d42,
  'dark-300': #96a1a4,
  'light-300': #f0f5f9,
  'light-200': hsl(200, 25%, 100%),
  'active': #007be5,
);

$breakpoints: (
  'xs': 450px,
  'sm': 640px,

  'md': 768px,

  'lg': 1024px,

  'xl': 1280px,

  '2xl': 1380px,
  '3xl': 1536px,
);
